<?xml version="1.0"?>
<robot name="Sciclops_Robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

 <!-- Materials -->
  <xacro:include filename="$(find sciclops_description)/urdf/materials.xacro" />
  
  <!-- Module Carts -->
  <xacro:include filename="$(find sciclops_description)/urdf/module_cart_5.urdf.xacro" />
  <xacro:Module_Cart_5 prefix="module_carts/"/>

  <!-- Sciclops -->
  <xacro:include filename="$(find sciclops_description)/urdf/sciclops.urdf.xacro" />
  <xacro:Sciclops prefix="sciclops/"/>
  
  <joint name="Sciclops_Base" type="fixed">
    <parent link="module_carts/cart_5"/>
    <child link="sciclops/sciclops_base"/>
    <axis xyz="0 0 0"/>
    <origin xyz="0 -0.04 1.05" rpy="0 0 5.1"/> 
    <limit effort="1000.0" lower="0" upper="0" velocity="0.5"/>
  </joint>
  
</robot>
